/****** COLORS *******/
$black: #3C3C3C;
$grey: #b1b1b1;
$white: #FFF;
$primary: rgb(216, 67, 67);
$green: rgb(33, 200, 4);
$blue: rgb(45, 84, 214);
$red: rgb(124, 25, 25);
$gold: rgb(250, 212, 0);
$fa-font-path:"../fonts/vendor/@fortawesome/fontawesome-free";

$softGrey: #e0e0e0;
$softGreen:rgb(147,219,112);
$softRed: rgb(255,99,71);
$softBlue:rgb(0,206,209);
$softYellow:rgb(255,215,0);

$bSuccess:#5cb85c;
$bPrimary:#0275d8;
$bInfo:#5bc0de;
$bWarning:#f0ad4e;
$bDanger:#d9534f;
$bInverse:#292b2c;
$bFaded:#f7f7f7;