/****** COLORS *******/
$black: #3C3C3C;
$white: #FFF;
$primary: rgb(216, 67, 67);
$green: rgb(33, 200, 4);
$blue: rgb(45, 84, 214);
$red: rgb(124, 25, 25);
$fa-font-path:"../fonts/vendor/@fortawesome/fontawesome-free";