.btn{
    border: none;
    outline:none;
    &:focus, &:active, &:hover{
        border: none;
        outline:none;
    }
    &:hover{
        box-shadow: 2px 2px 3px $secondary;
        cursor: pointer;
    }


    &.btn-primary{
        background-color: $primary;
        color: #fff;
        font-weight: 900;
    }
    &.btn-seconday{background-color: $secondary;}
    padding: 0.5rem;
    border-radius: 2px;
    box-shadow: 1px 1px 3px $secondary;
    letter-spacing: 0.1rem;
}