@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*:not(i){
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-weight: 500;
}
h1{
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}
h2,h3,h4,h5{
    color: $secondary;
}
